[submodule "hugo/smart-ballot/themes/ananke"]
	path = hugo/smart-ballot/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/HL7/ig-publisher-scripts
