

<p id="publish-box">
This is the Continuous Integration Build of the {{site.data.fhir.igName}} Implementation Guide, based on <a href="{{ site.data.fhir.path }}">FHIR Version {{ site.data.fhir.version }}</a>. See the <a href="{{base}}history/index.html">Directory of published versions <img src="external.png"/></a>
</p>

<!--

<p id="publish-box">
This is the {{site.data.fhir.igName}} Implementation Guide Release For Comment Ballot version.  It is based on <a href="{{ site.data.fhir.path }}">FHIR Version {{ site.data.fhir.version }}</a>. See the <a href="{{ site.data.fhir.canonical }}/history.html">Directory of published versions <img src="external.png"/></a>
<br /><br />
<strong>Note to balloters:</strong>
<br /><br />
See the <a href="balloters.html">Notice to Ballot Commenters tab</a> for an introduction and preview.
<br /><br />
This Implementation Guide is published by the <a href="http://www.hl7.org/Special/committees/pher/index.cfm">HL7 Public Health</a> Work group.   See the <a href="http://www.hl7.org/participate/onlineballoting.cfm?ref=nav"> HL7 ballotting website</a> to sign up for and submit ballot comments.
</p>

-->
